*{
    margin:10px 5px;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    align-items: center;
    padding: 5px;
    }
nav{
    flex:2;
    text-align:right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}

 
nav ul li{
    display: inline-block;
    margin-right: 20px;

 }   

 a{
    text-decoration:none ;
    color:rgb(17, 17, 20);
}
 p{
    color:#270909

 }
 .container{
    max-width: 1300;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
 }
.row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
}
.logo img{
    border-radius:50%;
    border:2px solid #270909;
}
.col-2{
    flex-basis:0%;
    min-width: 500px;
    margin-bottom: auto;
}
.col-2 img{
    max-width:100%;
    block-size:400px;
    padding: 3px 0;
    border-radius:40px ;
    }
    .col-4{
        flex-basis: 15%;
        padding: 3px;
        min-width:80px;
        margin-bottom: 20 px;
transition : transform 0.5s;
    }
    .col-4 img{
        width:100%;
        display:inline;
    }
    .col-3 img{
        width:100%; 
        display: inline-block;
    }
    .col-4:hover{
        transform: translateY(-5px);
    }

    .offer{
        background: radial-gradient(#fff, #ffd6d6);
        margin-top:80px;
        padding: 30px, 0;
    }
    .title{
        text-align: center;
        margin: 0 auto 80px;
        position : relative;
        line-height:60px;
        color: #555;
    }
    .title::after{
     content :'';
     background: #ff523b;
     width:100px;
     height:7px;
     position:absolute;
     bottom: 0;
     left :505;
    }
    
.btn{
    display:inline-block;
    background: rgb(17, 17, 20);
    color:rgb(145, 135, 154);
    padding: 5px 20px;
    margin:30px 0;
    border-radius:20px ;
    height :50%;
}
.header{
    background:radial-gradient(rgb(104, 71, 136),rgb(197, 169, 222));
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #ff523b;
}
.testimonial{
    padding-top: 100px;
}
.testimonial col-3{
    text-align: center;
    padding :30px 20px;
    box-shadow: 0 0 20px 0px rbba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
}
.testimonial .col-3:hower{
    transform:translateY(-10px);

}
.fa.fa-quote-left{
    font-size: 40px;
    color:blue;
}
.col-3 p{
    font-size: 12px;
    margin:12px 0;
    color:#777;
}
.testimonial .col-3 h3{
    font-weight:600;
    color:#555;
    font-size: 60px;
}




/* body{
    background-color: rgb(112, 80, 140);
} */
/* img:hover{
    background-color: rgb(132, 197, 240);
} */

/* footer  */
.footer{
    background:#000;
    color: #efe9e9;
    font-size: 14px;
    padding:30 px 0 20 px;
}
.footer p{
    color: #efe9e9;

}











